<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- style reset -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
    <!-- style css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="../css/animation.css">
    <!-- icon style -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <script src="../js/jquery/jquery-3.3.1.min.js"></script>
    <!-- translate -->
    <script src="../js/jquery/translate.js"></script>


    <!-- Start WOWSlider.com HEAD section -->
    <!-- add to the <head> of your page -->
    <link rel="stylesheet" type="text/css" href="engine0/style.css" />
    <!--script type="text/javascript" src="engine0/jquery.js"></script-->
    <!-- End WOWSlider.com HEAD section -->

    <!-- Start WOWSlider.com HEAD section -->
    <!-- add to the <head> of your page -->
    <link rel="stylesheet" type="text/css" href="engine0/style.css" />
    <!--script type="text/javascript" src="engine0/jquery.js"></script-->
    <!-- End WOWSlider.com HEAD section -->

    <!-- Start WOWSlider.com HEAD section -->
    <!-- add to the <head> of your page -->
    <link rel="stylesheet" type="text/css" href="engine0/style.css" />
    <!--script type="text/javascript" src="engine0/jquery.js"></script-->
    <!-- End WOWSlider.com HEAD section -->
</head>

<body>
    <div id="preloader"></div>
    <script>
        window.addEventListener("load", function () {
            const loader = document.querySelector("#preloader");
            loader.className += " hidden"; // class "loader hidden"
        });
    </script>
    <header id="menu-header" class="menu">
        <a href="javascript:void(0);" class="icon" onclick="myHeader()">
            <i class="fa fa-bars"></i>
        </a>
        <h1>voyage</h1>
        <nav>
            <ul>
                <li><a href="#" class="lang" key="home">home</a></li>
                <li><a href="#" class="lang" key="tours">tours</a></li>
                <li><a href="#" class="lang" key="hotels">hotels</a></li>
                <li><a href="#" class="lang" key="services">services</a></li>
                <li><a href="#" class="lang" key="blog">blog</a></li>
                <li><a href="#" class="lang" key="about">about</a></li>
                <li><a href="#" class="lang" key="contact">contact</a></li>
                <li> <img class="translate" id="en" src="http://icons.iconarchive.com/icons/icons-land/vista-flags/32/United-States-Flag-1-icon.png"></li>
                <li> <img class="translate" id="vn" src="../images/vietnam-flag-3d-icon-32.png"></li>

            </ul>
        </nav>
    </header>
    <!-- Start WOWSlider.com BODY section -->
    <!-- add to the <body> of your page -->
    <div id="wowslider-container0">
        <div class="ws_images">
            <ul>
                <li><img src="data0/images/bg_1.jpg" alt="bg_1" title="bg_1" id="wows0_0" /></li>
                <li><img src="data0/images/bg_2.jpg" alt="bg_2" title="bg_2" id="wows0_1" /></li>
                <li><img src="data0/images/bg_3.jpg" alt="bg_3" title="bg_3" id="wows0_2" /></li>
                <li><a href="http://wowslider.net"><img src="data0/images/bg_4.jpg" alt="slideshow html code" title="bg_4"
                            id="wows0_3" /></a></li>
                <li><img src="data0/images/bg_5.jpg" alt="bg_5" title="bg_5" id="wows0_4" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="bg_1"><span><img src="data0/tooltips/bg_1.jpg" alt="bg_1" />1</span></a>
                <a href="#" title="bg_2"><span><img src="data0/tooltips/bg_2.jpg" alt="bg_2" />2</span></a>
                <a href="#" title="bg_3"><span><img src="data0/tooltips/bg_3.jpg" alt="bg_3" />3</span></a>
                <a href="#" title="bg_4"><span><img src="data0/tooltips/bg_4.jpg" alt="bg_4" />4</span></a>
                <a href="#" title="bg_5"><span><img src="data0/tooltips/bg_5.jpg" alt="bg_5" />5</span></a>
            </div>
        </div>
        <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery carousel</a>
            by WOWSlider.com v8.8</div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="engine0/wowslider.js"></script>
    <script type="text/javascript" src="engine0/script.js"></script>
    <!-- End WOWSlider.com BODY section -->

    <div id="book" class="padding-top-bottom">
        <div class="title-place">
            <h1>Book Tour</h1>
        </div>
        <div class="places">
            <div class="place-items">
                <div class="title text-center">
                    <h3>Nov.15th 2016</h3>
                    <h1>BaNa Hill</h1>
                    <h2>life style of new</h2>
                </div>
                <div class="desctiption">
                    <div class="img-place">
                        <img src="../images/image_1.jpg" alt="Image">
                    </div>
                    <div class="info">
                        <p>sadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsaadsadsadsadsadsadsadsadsadsadsadsadsadsadsaadsadsadsadsadsadsadsadsadsadsadsadsadsadsaadsadsadsadsadsadsadsadsadsadsadsadsadsadsaadsadsadsadsadsadsadsadsadsadsadsadsadsadsaadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsad</p>
                    </div>
                </div>
            </div>
            <div class="place-items">
                <div class="title text-center">
                    <h3>Nov.15th 2016</h3>
                    <h1>BaNa Hill</h1>
                    <h2>life style of new</h2>
                </div>
                <div class="desctiption">
                    <div class="img-place">
                        <img src="../images/image_1.jpg" alt="Image">
                    </div>
                    <div class="info">
                        <p>sadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsad</p>
                    </div>
                </div>
            </div>
            <div class="place-items">
                <div class="title text-center">
                    <h3>Nov.15th 2016</h3>
                    <h1>BaNa Hill</h1>
                    <h2>life style of new</h2>
                </div>
                <div class="desctiption">
                    <div class="img-place">
                        <img src="../images/image_1.jpg" alt="Image">
                    </div>
                    <div class="info">
                        <p>sadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsad</p>
                    </div>
                </div>
            </div>
            <div class="place-items">
                <div class="title text-center">
                    <h3>Nov.15th 2016</h3>
                    <h1>BaNa Hill</h1>
                    <h2>life style of new</h2>
                </div>
                <div class="desctiption">
                    <div class="img-place">
                        <img src="../images/image_1.jpg" alt="Image">
                    </div>
                    <div class="info">
                        <p>sadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsad</p>
                    </div>
                </div>
            </div>
            <div class="place-items">
                <div class="title text-center">
                    <h3>Nov.15th 2016</h3>
                    <h1>BaNa Hill</h1>
                    <h2>life style of new</h2>
                </div>
                <div class="desctiption">
                    <div class="img-place">
                        <img src="../images/image_1.jpg" alt="Image">
                    </div>
                    <div class="info">
                        <p>sadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsad</p>
                    </div>
                </div>
            </div>
            <div class="place-items">
                <div class="title text-center">
                    <h3>Nov.15th 2016</h3>
                    <h1>BaNa Hill</h1>
                    <h2>life style of new</h2>
                </div>
                <div class="desctiption">
                    <div class="img-place">
                        <img src="../images/image_1.jpg" alt="Image">
                    </div>
                    <div class="info">
                        <p>sadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsad</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="houses">
            <div class="account">
                <div class="title text-center">
                    <h1>about me</h1>
                </div>
                <div class="info">
                    <img src="../images/image_1.jpg" alt="Image">
                    <h1>Jean</h1>
                    <h2>Ceo ,forcu</h2>
                    <p>qsdsadasedasadwaewfegdfsadsafgfgadsadwaewacascdsadsavdcasdwdwsdasdsadsasavddccsadsadewdscdsadsa</p>
                </div>
            </div>
            <div class="house-place">
                <div class="title text-center">
                    <h1>House</h1>
                </div>
                <div class="boxes">
                    <div class="box">
                        <div class="img-box">
                            <img src="../images/image_1.jpg" alt="">
                        </div>
                        <div class="desctiption">
                            <h3>Dec 25, 2016</h3>
                            <h1>House New BaBaZiZi</h1>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../images/image_1.jpg" alt="">
                        </div>
                        <div class="desctiption">
                            <h3>Dec 25, 2016</h3>
                            <h1>House New BaBaZiZi</h1>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../images/image_1.jpg" alt="">
                        </div>
                        <div class="desctiption">
                            <h3>Dec 25, 2016</h3>
                            <h1>House New BaBaZiZi</h1>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../images/image_1.jpg" alt="">
                        </div>
                        <div class="desctiption">
                            <h3>Dec 25, 2016</h3>
                            <h1>House New BaBaZiZi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-header">
                <div class="box">
                    <h1 class="title-footer">voyage fellow tourist</h1>
                    <p>far far away,behind the word mountains, far from the countries vokalia and consonantia, there
                        live
                        the blind texts</p>
                </div>
                <div class="box">
                    <h1 class="title-footer">book now</h1>
                    <nav>
                        <ul>
                            <li><a href="#">fight</a></li>
                            <li><a href="#">hotels</a></li>
                            <li><a href="#">tour</a></li>
                            <li><a href="#">car rent</a></li>
                            <li><a href="#">beach & resorts</a></li>
                            <li><a href="#">mountains</a></li>
                            <li><a href="#">cruises</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <h1 class="title-footer">book now</h1>
                    <nav>
                        <ul>
                            <li><a href="#">fight</a></li>
                            <li><a href="#">hotels</a></li>
                            <li><a href="#">tour</a></li>
                            <li><a href="#">car rent</a></li>
                            <li><a href="#">beach & resorts</a></li>
                            <li><a href="#">mountains</a></li>
                            <li><a href="#">cruises</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <h1 class="title-footer">book now</h1>
                    <nav>
                        <ul>
                            <li><a href="#">fight</a></li>
                            <li><a href="#">hotels</a></li>
                            <li><a href="#">tour</a></li>
                            <li><a href="#">car rent</a></li>
                            <li><a href="#">beach & resorts</a></li>
                            <li><a href="#">mountains</a></li>
                            <li><a href="#">cruises</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <nav>
                        <ul>
                            <li><i class="fab fa-facebook-f"></i>
                            </li>
                            <li><i class="fab fa-instagram"></i>
                            </li>
                            <li><i class="fab fa-twitter"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="text-content">
                <p class="text-center">copyright &copy; all rights reseved | this template is made wiith &hearts; by
                    colorlib</p>
            </div>
        </div>
    </footer>
    <script src="../js/js/resposive.js"></script>
</body>

</html>