<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="../carousel2/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../carousel2/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
</head>

<body>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="../images/image_1.jpg" alt="Images1">
        </div>
        <div class="item">
            <img src="../images/image_2.jpg" alt="Images1">
        </div>
        <div class="item">
            <img src="../images/image_3.jpg" alt="Images1">
        </div>

    </div>
    <script src="../carousel2/OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js"></script>
    <script src="../carousel2/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
    <script>

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
</body>

</html>