<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/error.css">
</head>

<body>
    <div class="error">
        <h1>404 Error Page #3</h1>
        <p>Css animation to make a cool 404 page</p>
        <div class="page_404">
            <span>4</span>
            <span>0</span>
            <span>4</span>
        </div>
        <a href="">visit the original article</a>
    </div>
</body>

</html>