<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- style reset -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
    <!-- style css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- icon style -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">


</head>

<body>
    <header id="menu-header">
        <div class="container">
            <h1>voyage</h1>
            <nav>
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">tours</a></li>
                    <li><a href="#">hotels</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="slider">
        <div class="slider-items">
            <img src="../images/bg_1.jpg" alt="Background Item One" width="100%" height="10%">
            <p class="title-slider">experience the best trip ever</p>
        </div>
    </div>
    <div id="tabs">
        <div class="container">
            <div class="tab">
                <button class="btn active">01 fight</button>
                <button class="btn">02 hotels</button>
                <button class="btn">03 car rent</button>
                <button class="btn">04 cruises</button>
            </div>
            <div class="tab-content">
                <div class="form-group input-content">
                    <input type="text" class="form-control" placeholder="search location">
                </div>
                <div class="form-group input-content">
                    <input type="text" class="form-control" placeholder="search location">
                </div>
                <div class="form-group input-content">
                    <input type="text" class="form-control" placeholder="search location">
                </div>
                <div class="form-group input-content">
                    <input type="text" class="form-control" placeholder="search location">
                </div>
                <button class="btn">find fights</button>
            </div>
        </div>
    </div>
    <div id="panel">

        <div class="img-nitro">
            <img src="../images/image_1.jpg" alt="Panel Number One">
            <button class="btn"><i class="fas fa-play"></i></button>
        </div>
        <div class="description">
            <h1>webcome to bon voyage since 1898 establoshed far far away</h1>
            <p>By 1974, Slade had become a big success in the UK, Europe and beyond, however the band felt that continuing
                to provide 'more of the same' was not what they wanted to do. Their manager Chas Chandler suggested they
                do a movie, to which the band agreed. To accompany the film, Holder and Lea began writing material for a
                soundtrack album, which would continue to see the band break out of their successful formula and try different
                musical ideas. "Far Far Away" was selected as the album's lead single and was released in October 1974, reaching
                No. 2 in the UK. To accompany the film, Holder and Lea began writing material for a soundtrack album, which
                would continue to see the band break out of their successful formula and try different musical ideas. "Far
                Far Away" was selected as the album's lead single and was released in October 1974, reaching No. 2 in the
                UK
            </p>
        </div>
    </div>
    <div id="places" class="padding-top-bottom">
        <div class="container">
            <div class="circle">
                <div class="circle-item">
                    <img src="../images/promo-1.jpg" alt="Circle Item">
                    <div class="description">
                        <h1>group cruises</h1>
                        <h3><span class="current">from<span> $199</h3>
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="circle-item">
                    <img src="../images/promo-1.jpg" alt="Circle Item">
                    <div class="description">
                        <h1>group cruises</h1>
                        <h3><span class="current">from<span> $199</h3>
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="circle-item">
                    <img src="../images/promo-1.jpg" alt="Circle Item">
                    <div class="description">
                        <h1>group cruises</h1>
                        <h3><span class="current">from<span> $199</h3>
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="circle-item">
                    <img src="../images/promo-1.jpg" alt="Circle Item">
                    <div class="description">
                        <h1>group cruises</h1>
                        <h3><span class="current">from<span> $199</h3>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="our-services" class="padding-top-bottom">
        <div class="container">
            <h1 class="title text-center">our services</h1>
            <div class="boxes padding-top-bottom">
                <div class="box">
                    <i class="fab fa-wolf-pack-battalion"></i>
                    <h1>special activities</h1>
                    <p>Even the all-pơèull pointing has no control about the blond tét it is an almost unirthographic</p>
                </div>
                <div class="box">
                    <i class="fab fa-wolf-pack-battalion"></i>
                    <h1>special activities</h1>
                    <p>Even the all-pơèull pointing has no control about the blond tét it is an almost unirthographic</p>
                </div>
                <div class="box">
                    <i class="fab fa-wolf-pack-battalion"></i>
                    <h1>special activities</h1>
                    <p>Even the all-pơèull pointing has no control about the blond tét it is an almost unirthographic</p>
                </div>
                <div class="box">
                    <i class="fab fa-wolf-pack-battalion"></i>
                    <h1>special activities</h1>
                    <p>Even the all-pơèull pointing has no control about the blond tét it is an almost unirthographic</p>
                </div>
            </div>
        </div>
    </div>
    <div id="popular" class="padding-top-bottom">
        <h1 class="text-center title">most popular destination</h1>
        <div class="boxes">
            <div class="box">
                <img src="../images/tour-1.jpg" alt="Image Folder One">
                <div class="description">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p class="text-norm">ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="box">
                <img src="../images/tour-2.jpg" alt="Image Folder One">
                <div class="description">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p class="text-norm">ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="box">
                <img src="../images/tour-3.jpg" alt="Image Folder One">
                <div class="description">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p class="text-norm">ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="box">
                <img src="../images/tour-4.jpg" alt="Image Folder One">
                <div class="description">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p class="text-norm">ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="box">
                <img src="../images/tour-5.jpg" alt="Image Folder One">
                <div class="description">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p class="text-norm">ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="box">
                <img src="../images/tour-6.jpg" alt="Image Folder One">
                <div class="description">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p class="text-norm">ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="box">
                <img src="../images/tour-7.jpg" alt="Image Folder One">
                <div class="description">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p class="text-norm">ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="box">
                <img src="../images/tour-8.jpg" alt="Image Folder One">
                <div class="description">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p class="text-norm">ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="our-satisfied">
        <div class="container">
            <div class="boxes">
                <div class="box">
                    <img src="../images/person_1.jpg" alt="Person">
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </nav>
                    <p>By 1974, Slade had become a big success in the UK, Europe and beyond, however the band felt that continuing
                        to provide 'more of the same' was not what they wanted to do. Their manager Chas Chandler suggested
                        they do a movie, to which the band agreed. </p>
                    <h1>dennis green</h1>
                    <h3>guests from italy</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="recommended">
        <div class="container">
            <form action="">
                <p>want to get our hottest travel deals top tips and advice? subcribe us now!</p>
                <input type="text" class="form-control" placeholder="enter your email address">
            </form>
            <div class="most">
                <div class="box">
                    <img src="../images/image_1.jpg" alt="Image Folder One">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p>ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <img src="../images/image_1.jpg" alt="Image Folder One">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p>ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <img src="../images/image_1.jpg" alt="Image Folder One">
                    <h3>$399</h3>
                    <h1>group tour in maldives</h1>
                    <p>ameeru ahmed magu moale, maldives</p>
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li>
                                <p>500 reviews</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="our-blog">
        <div class="container">
            <div class="boxes">
                <div class="box">
                    <img src="../images/hotel-1.jpg" alt="Hotel">
                    <h3>july 7,2018 Admin</h3>
                    <p>even the all-powerfull pointing has no control about the blind texts</p>
                    <a href="">read more</a>
                    <i class="fas fa-star">3</i>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-header">
                <div class="box">
                    <h1>voyage fellow tourist</h1>
                    <p>far far away,behind the word mountains, far from the countries vokalia and consonantia, there live
                        the blind texts</p>
                </div>
                <div class="box">
                    <h1>book now</h1>
                    <nav>
                        <ul>
                            <li><a href="#">fight</a></li>
                            <li><a href="#">hotels</a></li>
                            <li><a href="#">tour</a></li>
                            <li><a href="#">car rent</a></li>
                            <li><a href="#">beach & resorts</a></li>
                            <li><a href="#">mountains</a></li>
                            <li><a href="#">cruises</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <h1>book now</h1>
                    <nav>
                        <ul>
                            <li><a href="#">fight</a></li>
                            <li><a href="#">hotels</a></li>
                            <li><a href="#">tour</a></li>
                            <li><a href="#">car rent</a></li>
                            <li><a href="#">beach & resorts</a></li>
                            <li><a href="#">mountains</a></li>
                            <li><a href="#">cruises</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <h1>book now</h1>
                    <nav>
                        <ul>
                            <li><a href="#">fight</a></li>
                            <li><a href="#">hotels</a></li>
                            <li><a href="#">tour</a></li>
                            <li><a href="#">car rent</a></li>
                            <li><a href="#">beach & resorts</a></li>
                            <li><a href="#">mountains</a></li>
                            <li><a href="#">cruises</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <nav>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="text-content">
                <p>copyright &copy; all rights reseved | this template is made wiith &hearts; by colorlib</p>
            </div>
        </div>
    </footer>
</body>

</html>