<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- style reset -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
    <!-- style css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="../css/animation.css">
    <!-- icon style -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <script src="../js/jquery/jquery-3.3.1.min.js"></script>
    <!-- translate -->
    <script src="../js/jquery/translate.js"></script>


    <!-- Start WOWSlider.com HEAD section -->
    <!-- add to the <head> of your page -->
    <link rel="stylesheet" type="text/css" href="engine0/style.css" />
    <!--script type="text/javascript" src="engine0/jquery.js"></script-->
    <!-- End WOWSlider.com HEAD section -->

    <!-- Start WOWSlider.com HEAD section -->
    <!-- add to the <head> of your page -->
    <link rel="stylesheet" type="text/css" href="engine0/style.css" />
    <!--script type="text/javascript" src="engine0/jquery.js"></script-->
    <!-- End WOWSlider.com HEAD section -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header id="menu-header" class="menu">
        <a href="javascript:void(0);" class="icon" onclick="myHeader()">
            <i class="fa fa-bars"></i>
        </a>
        <h1>voyage</h1>
        <nav>
            <ul>
                <li><a href="#" class="lang" key="home">home</a></li>
                <li><a href="#" class="lang" key="tours">tours</a></li>
                <li><a href="#" class="lang" key="hotels">hotels</a></li>
                <li><a href="#" class="lang" key="services">services</a></li>
                <li><a href="#" class="lang" key="blog">blog</a></li>
                <li><a href="#" class="lang" key="about">about</a></li>
                <li><a href="#" class="lang" key="contact">contact</a></li>
                <li> <img class="translate" id="en" src="http://icons.iconarchive.com/icons/icons-land/vista-flags/32/United-States-Flag-1-icon.png"></li>
                <li> <img class="translate" id="vn" src="../images/vietnam-flag-3d-icon-32.png"></li>

            </ul>
        </nav>
    </header>
    <!-- Start WOWSlider.com BODY section -->
    <!-- add to the <body> of your page -->
    <div id="wowslider-container0">
        <div class="ws_images">
            <ul>
                <li><img src="data0/images/bg_1.jpg" alt="bg_1" title="bg_1" id="wows0_0" /></li>
                <li><img src="data0/images/bg_2.jpg" alt="bg_2" title="bg_2" id="wows0_1" /></li>
                <li><img src="data0/images/bg_3.jpg" alt="bg_3" title="bg_3" id="wows0_2" /></li>
                <li><a href="http://wowslider.net"><img src="data0/images/bg_4.jpg" alt="javascript photo gallery"
                            title="bg_4" id="wows0_3" /></a></li>
                <li><img src="data0/images/bg_5.jpg" alt="bg_5" title="bg_5" id="wows0_4" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="bg_1"><span><img src="data0/tooltips/bg_1.jpg" alt="bg_1" />1</span></a>
                <a href="#" title="bg_2"><span><img src="data0/tooltips/bg_2.jpg" alt="bg_2" />2</span></a>
                <a href="#" title="bg_3"><span><img src="data0/tooltips/bg_3.jpg" alt="bg_3" />3</span></a>
                <a href="#" title="bg_4"><span><img src="data0/tooltips/bg_4.jpg" alt="bg_4" />4</span></a>
                <a href="#" title="bg_5"><span><img src="data0/tooltips/bg_5.jpg" alt="bg_5" />5</span></a>
            </div>
        </div>
        <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery carousel
                slider</a> by WOWSlider.com v8.8</div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="engine0/wowslider.js"></script>
    <script type="text/javascript" src="engine0/script.js"></script>
    <!-- End WOWSlider.com BODY section -->
    <div id="albums" class="padding-top-bottom">
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-sm-3">
                    <!--left col-->
                    <div class="text-center">
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                            alt="avatar">
                        <h1>Van Phu</h1>
                        <h6>Upload a different photo...</h6>
                        <input type="file" class="text-center center-block file-upload">
                    </div>
                    </hr><br>


                    <div class="panel panel-default">
                        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                        <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                    </div>


                    <ul class="list-group">
                        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span>
                            125</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span>
                            78</li>
                    </ul>
                </div>
                <!--/col-3-->
                <div class="col-sm-9">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <hr>
                            <form class="form" action="##" method="post" id="registrationForm">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="first_name">
                                            <h4>First name</h4>
                                        </label>
                                        <input type="text" class="form-control" name="first_name" id="first_name"
                                            placeholder="first name" title="enter your first name if any.">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="last_name">
                                            <h4>Last name</h4>
                                        </label>
                                        <input type="text" class="form-control" name="last_name" id="last_name"
                                            placeholder="last name" title="enter your last name if any.">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="phone">
                                            <h4>Phone</h4>
                                        </label>
                                        <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone"
                                            title="enter your phone number if any.">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="mobile">
                                            <h4>Mobile</h4>
                                        </label>
                                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number"
                                            title="enter your mobile number if any.">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="email">
                                            <h4>Email</h4>
                                        </label>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"
                                            title="enter your email.">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="email">
                                            <h4>Location</h4>
                                        </label>
                                        <input type="email" class="form-control" id="location" placeholder="somewhere"
                                            title="enter a location">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="password">
                                            <h4>Password</h4>
                                        </label>
                                        <input type="password" class="form-control" name="password" id="password"
                                            placeholder="password" title="enter your password.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="password2">
                                            <h4>Verify</h4>
                                        </label>
                                        <input type="password" class="form-control" name="password2" id="password2"
                                            placeholder="password2" title="enter your password2.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-lg btn-danger" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                                            Save</button>
                                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                                            Reset</button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                        </div>
                    </div>
                    <!--/tab-pane-->
                </div>
                <!--/tab-content-->
            </div>
            <!--/col-9-->
        </div>
        <!--/row-->
        <script>
            $(document).ready(function () {


                var readURL = function (input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.avatar').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }


                $(".file-upload").on('change', function () {
                    readURL(this);
                });
            });</script>
    </div>
    <footer>
        <div class="container">
            <div class="footer-header">
                <div class="box">
                    <h1 class="title-footer">voyage fellow tourist</h1>
                    <p>far far away,behind the word mountains, far from the countries vokalia and consonantia, there
                        live
                        the blind texts</p>
                </div>
                <div class="box">
                    <h1 class="title-footer">book now</h1>
                    <nav>
                        <ul>
                            <li><a href="#">fight</a></li>
                            <li><a href="#">hotels</a></li>
                            <li><a href="#">tour</a></li>
                            <li><a href="#">car rent</a></li>
                            <li><a href="#">beach & resorts</a></li>
                            <li><a href="#">mountains</a></li>
                            <li><a href="#">cruises</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <h1 class="title-footer">book now</h1>
                    <nav>
                        <ul>
                            <li><a href="#">fight</a></li>
                            <li><a href="#">hotels</a></li>
                            <li><a href="#">tour</a></li>
                            <li><a href="#">car rent</a></li>
                            <li><a href="#">beach & resorts</a></li>
                            <li><a href="#">mountains</a></li>
                            <li><a href="#">cruises</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <h1 class="title-footer">book now</h1>
                    <nav>
                        <ul>
                            <li><a href="#">fight</a></li>
                            <li><a href="#">hotels</a></li>
                            <li><a href="#">tour</a></li>
                            <li><a href="#">car rent</a></li>
                            <li><a href="#">beach & resorts</a></li>
                            <li><a href="#">mountains</a></li>
                            <li><a href="#">cruises</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box">
                    <nav>
                        <ul>
                            <li><i class="fab fa-facebook-f"></i>
                            </li>
                            <li><i class="fab fa-instagram"></i>
                            </li>
                            <li><i class="fab fa-twitter"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="text-content">
                <p class="text-center">copyright &copy; all rights reseved | this template is made wiith &hearts; by
                    colorlib</p>
            </div>
        </div>
    </footer>
    <script src="../js/js/resposive.js"></script>
</body>

</html>